body {
  text-align: center;
  font-family: Arial;
  margin-top: 50px;
}

.name {
  color: red;
  font-weight: bold;
}

.profile {
  color: red;
  font-weight: bold;
}

.avatar {
  margin-top: 20px;
  width: 150px;
  border-radius: 50%;
}
